<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <span class="logo">Astro</span>
        <nav>
            <a href="/about">О нас</a>
            <a href="/blog">Блог</a>
        </nav>
    </header>
    <main>
    <h1>Главная</h1>
    <p>Полученные данные:</p>
    <p>Name: <b><%= name %></b></p>
    <p>Id: <b><%= id %></b></p>
    </main>
    <aside>
        <h2>Информация</h2>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum perspiciatis perferendis, sed aliquam nemo rerum consequatur consectetur quia esse iusto, quaerat beatae aut sit, ut quas neque earum. Mollitia, ullam?
    </aside>
    <footer>Все права защищены &copy;</footer>
</body>
</html>